/* Pagrindines spalvos */
	$light-blue: #6696E2;
	$light-green: #41D395;
	$light-red: #E27866;
	$main-black: #1C1C1C;
	$white: #FFFFFF;
	$black: #000000;
	$text-grey: #86878B;
	$title-grey: #333333;
	$input-grey: #D8D8D8;

/* kitos spalvos */
	//tik .savybes-container h2 turi sia spalva
	$savybes-grey: #212121;

	//moto header background
	$form-grey: #f5f5f5;

/* font family */
	$font-stack: 'Montserrat', sans-serif;

/* background-image url */
	$moto: '../image/photo-1480714378408-67cf0d13bc1b@2x.png';
	$explore: '../image/christoffer-engstrom-503481-unsplash@2x.png';
