body {
	margin: 0px;
	font-family: 'Montserrat', sans-serif;
	min-width: 400px;
	background-color: #1c1c1c;
}

header, footer {
	max-width: 100%;
	background-color: #1c1c1c;
	
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px auto;
		max-width: 1100px;
		@media only screen and (max-width : 1152px) {
			margin: 0px 26px;
		}
		
		.logo {
			background-image: url('../image/cheshire-county-hygiene-services.svg');
			background-size: cover;
			width: 119px;
			height: 52px;
		}
		
		.icon {
			display: none;
			margin: 0px;
			order: 1;
			@media only screen and (max-width : 690px) {
				display: block;
				margin: 26px 0px 26px 44px;
			}
			img {
					width: 13px;
					height: 13px;
			}
			
		}
		
		.nav {
			margin: 0px;
			padding: 0px;
			@media only screen and (max-width : 690px) {
					position: absolute;
					background-color: #1c1c1c;
				}
			li {/*
				display: inline-block;
				margin: 26px 0px 26px 44px;
				position: relative;
				text-align: center;
				@media only screen and (max-width : 690px) {
					display: none;
				}*/
				//kazkodel sia dali reikia atskirai parasyti
				a {
					text-decoration: none;
					color: #ffffff;
					opacity: 0.69;
					font-size: 14px;
				}
				&:hover:after {
					content: "";
					position: absolute;
					background-color: #e27866;
					width: 100%;
					height: 2px;
					right: 0px;
					bottom: -26px;
					@media only screen and (max-width : 690px) {
						bottom: -5px;
					}
				}
				&:hover a {
					opacity: 1;
				}
			}
		}
	}
}


.container .nav li {
  display: inline-block;
  margin: 26px 0px 26px 44px;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 690px) {
   .container .nav li {
    display: none;
  }
}
@media only screen and (max-width : 690px) {
	.nav.phoneMenu {
		z-index: 1;
		top: 70px;
		left: 0px;
		width: 100%;
		min-width: 400px;
		background-color: #1c1c1c;
	}
	.nav.phoneMenu li {
		display: block;
		margin: 26px 0px;
	}

}

#moto {
	max-width: 2800px;
	margin: 0px auto;
	.moto-container {
		position: relative;
		width: 100%;
		background-image: url("../image/photo-1480714378408-67cf0d13bc1b@2x.png");
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		@media only screen and (max-width: 918px) {
			background-size: auto 100%;
		}
		.transp {
			background: rgba(28, 28, 28, 0.63);
		.container {
			padding-top: 90px;
			padding-bottom: 90px;
			@media only screen and (max-width: 690px) {
				flex-direction: column;
			}
			.moto-container-text {
				max-width: 650px;
				.moto-logo {
					background-image: url('../image/cheshire-county-hygiene-services (1).svg');
					background-size: cover;
					width: 247px;
					height: 108px;
				}
				h1 {
					font-size: 36px;
					margin-bottom: 67px;
					font-weight: bold;
				}
				p {
					font-size: 16px;
					position: relative;
					font-weight: bold;
					opacity: 0.8;
					&:before {
						position: absolute;
						top: -24px;
						content: "";
						width: 80px;
						height: 2px;
						background-color: #ffffff;
					}
				}
				.button {
					display: inline-block;
					padding: 10px;
					font-size: 16px;
					border: 2px solid #ffffff;
					cursor: pointer;
				}
			}
			
			.moto-container-form {
				background-color: white;
				border-radius: 3px;
				color: #000000;
				overflow: hidden;
				max-width: 360px;
				min-width: 300px;
				margin-left: 40px;
				@media only screen and (max-width: 690px) {
					margin-top: 60px;
					margin-left: 0px;
				}
				h2 {
					background-color: #f5f5f5;
					text-align: center;
					font-size: 20px;
					margin: 0px;
					padding: 17px;
					span {
						color: #e27866;
					}
				}
				form {
					margin: 30px 58px;
					p {
						font-size: 16px;
						font-weight: bold;
						color: #1c1c1c;
					}
					input[type="text"], input[type="tel"] {
						border: none;
						border-bottom: 1px solid #d8d8d8;
						width: 100%;
						outline: none;
						padding-left: 9px;
						&::placeholder {
							color: #D8D8D8;
							font-size: 12px;
						}
					}
					input:not(:first-of-type) {margin-top: 34px;}
					.customRadio {
						position: relative;
						cursor: pointer;
						font-size: 9px;
						display: inline-block;
						height: 13px;
						line-height: 13px;
						input {
							position: absolute;
							opacity: 0;
							cursor: pointer;
							&:checked ~ .checkmark:after {
								display: block;
							}&:checked ~ .text {
								font-weight: bold;
							}
						}
						.text {
							display: inline-block;
							padding-left: 22px;
						}
						.checkmark {
							position: absolute;
							top: 0px;
							left: 0px;
							height: 11px;
							width: 11px;
							border: 1px solid #41d395;
							border-radius: 50%;
							&:after {
								content: "";
								position: absolute;
								display: none;
								top: 3px;
								left: 3px;
								width: 5px;
								height: 5px;
								border-radius: 50%;
								background: #41d395;
							}
						}
					}
					.customRadio:not(:last-child) {
						padding-right: 22px;
					}
				}
				.button {
					background-color: #41d395;
					color: #ffffff;
					text-align: center;
					font-size: 18px;
					margin: 0px;
					padding: 17px;
					font-weight: bold;
					cursor: pointer;
				}
			}
		}
		}
	}
	.moto-footer {
		background-color: #ffffff;
		.container {
			padding: 19px 0px;
			@media only screen and (max-width: 780px) {
				flex-direction: column;
			}
			.moto-footer-text {
				max-width: 400px;
				margin-right: 20px;
				@media only screen and (max-width: 780px) {
					text-align: center;
				}
				h3 {
					color: #333333;
					font-size: 20px;
					padding: 0px;
					margin: 0px;
				}
				p {
					color: #86878b;
					font-size: 14px;
					padding: 0px;
					margin: 0px;
				}
			}
		}
	}
}

.explore {
	max-width: 2800px;
	margin: 0px auto;
	.explore-container {
		position: relative;
		width: 100%;
		background-image: url("../image/christoffer-engstrom-503481-unsplash@2x.png");
		background-size: 100% auto;
		background-repeat: no-repeat;
		background-position: center;
		@media only screen and (max-width: 966px) {
			background-size: auto 100%;
		}
		.transp {
			background-image: linear-gradient(270deg, rgba(102, 150, 226, 0.42), rgba(226, 120, 102,0.42));
			.container {
				padding-top: 90px;
				padding-bottom: 90px;
				@media only screen and (max-width: 966px) {
					flex-direction: column;
				}
				.explore-tab {
					margin: 0px;
					padding: 0px;
					.tablinks {
						/*width: 100px;
						height: 100px;
						background-color: #A37169;
						list-style-type: none;
						text-align: center;
						line-height: 100px;
						transition: 0.3s;
						cursor: pointer;
						&:not(:last-child) {
							margin-bottom: 21px;
						}*/
						&:hover {
							background-color: #E27866;
							color: rgba(255,255,255,1);
						}
					}
				}
				.tab-content {
					display: none;
					align-items: center;
					@media only screen and (max-width: 966px) {
						flex-direction: column;
						align-items: center;
					}
					.tab-content-left {
						margin-left: 54px;
						margin-right: 54px;
						@media only screen and (max-width: 966px) {
							flex-direction: column;
							text-align: justify;
							margin-left: 0px;
							margin-right: 0px;
						}
					}
					.tab-content-right {
						width: 362px;
						height: 366px;
						//background-color: red;
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;
						align-items: center;
						position: relative;
						.small:hover:before, .big:hover:before {
							transition: 0.3s;
							opacity: 1;
						}
						.small:before {
							position: absolute;
							content: "Explore";
							transform: translateY(-3px) scale(0.905, 0.905);
							width: 168px;
							height: 168px;
							background-color: rgba(226, 120, 102, 0.8);
							line-height: 168px;
							text-align: center;
							font-weight: bold;
							font-size: 20px;
							cursor: pointer;
							opacity: 0;
						}
						.big:before {
							position: absolute;
							content: "Explore";
							width: 362px;
							height: 177px;
							background-color: rgba(226, 120, 102, 0.8);
							line-height: 168px;
							text-align: center;
							font-weight: bold;
							font-size: 20px;
							cursor: pointer;
							transform: translateY(-3px) scale(0.955, 0.96);
							opacity: 0;
						}
					}
				}
			}
		}
	}
}
#register {
	display: flex;
}
#registerLeft {
	background-image: url("../image/photo-1493409137604-0901c55e4456.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	width: 168px;
	height: 168px;
}
#registerRight {
	background-image: url("../image/photo-1543364195-bfe6e4932397.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	width: 168px;
	height: 168px;
}
#registerBottom {
	background-image: url("../image/photo-1448387473223-5c37445527e7.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	width: 362px;
	height: 177px;
}
.tablinks {
	width: 100px;
	height: 100px;
	background-color: #A37169;
	list-style-type: none;
	text-align: center;
	line-height: 100px;
	transition: 0.3s;
	cursor: pointer;
	color: rgba(255,255,255,0.63);
	font-weight: bold;
	&:not(:last-child) {
		margin-bottom: 21px;
	}
	.rotated {
		transform: rotate(-45deg);
		@media only screen and (max-width: 966px) {
			transform: rotate(0deg);
		}
	}
	@media only screen and (max-width: 966px) {
		display: inline-block;
		height: 50px;
		line-height: 50px;
	}
}

.tablinks.active {
	background-color: #E27866;
	color: rgba(255,255,255,1);
}

.about {
	.values .container {
		padding-top: 90px;
		padding-bottom: 90px;
		@media only screen and (max-width: 966px) {
			flex-direction: column;
		}
			.values-logo {
				width: 388px;
				height: 169px;
				background-image: url('../image/cheshire-county-hygiene-services (1).svg');
				background-size: cover;
			}
			.values-container {
				max-width: 450px;
				position: relative;
				@media only screen and (max-width: 966px) {
					margin-left: 0px;
					max-width: 100%;
				}
				h2 {
					font-weight: bold;
					font-size: 30px;
					margin-bottom: 56px;
				}
				.line {
					font-size: 14px;
					position: relative;
					&:before {
						position: absolute;
						top: 0px;
						content: "";
						width: 200px;
						height: 2px;
						background-color: #E27866;
						transform: translateY(-28px);
					}
				}
				.side-container {
					display: flex;
					align-items: center;
					.eye {
						margin-right: 19px;
						width: 50px;
						height: 50px;
						border-radius: 50%;
						background-color: #E27866;
						background-image: url("../image/Path 81.svg");
						background-repeat: no-repeat;
						background-position: center;
					}
					.talk {
						margin-right: 19px;
						width: 50px;
						height: 50px;
						border-radius: 50%;
						background-color: #E27866;
						background-image: url("../image/Path 82.svg");
						background-repeat: no-repeat;
						background-position: center;
					}
					.side-text {
						max-width: 381px;
						@media only screen and (max-width: 966px) {
							max-width: calc(100% - 69px);
						}
						h3 {
							font-weight: bold;
							font-size: 14px;
						}
						p {font-size: 14px;}
					}
				}
			}
		
	}
	.savybes {
		background-color: #ffffff;
		.savybes-container {
			padding-top: 90px;
			padding-bottom: 90px;
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0px auto;
			max-width: 1100px;
			@media only screen and (max-width : 1152px) {
				margin: 0px 26px;
			}
			color: #212121;
			h2 {
				font-weight: bold;
				font-size: 36px;
			}
			.center-line {
				font-size: 14px;
				color: #86878B;
				position: relative;
				&:before {
					position: absolute;
					content: "";
					left: 50%;
					top: -27px;
					width: 60px;
					height: 2px;
					background-color: #E27866;
					margin-left: -30px;
					@media only screen and (max-width : 460px) {
						left: 0px;
						margin-left: 0px;
					}
				}
			}
			.savybes-main {
				display: flex;
				justify-content: space-between;
				align-items: flex-start;
				width: 100%;
				@media only screen and (max-width: 690px) {
					flex-direction: column;
					align-items: center;
				}
				.small-container {
					margin-top: 51px;
					text-align: center;
					max-width: 286px;
					.savybes-logo {
						margin: 0px auto;
						width: 50px;
						height: 50px;
						border-radius: 50px;
						border: 1px solid #E27866;
						background-repeat: no-repeat;
						background-position: center;
					}
					h3 {
						margin-top: 35px;
						font-size: 20px;
						color: #333333;
					}
					p {
						font-size: 14px;
						color: #86878B;
					}
				}
			}
		}
	}
}
#design {
	background-image: url("../image/Path 79.svg");
}
#craft {
	background-image: url("../image/Path 76.svg");
}
#custumize {
	background-image: url("../image/Path 78.svg");
}

.pricing-background {
	background-color: #6696E2;
	.pricing-container {
		padding-top: 90px;
		padding-bottom: 90px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px auto;
		max-width: 1100px;
		@media only screen and (max-width : 1152px) {
			margin: 0px 26px;
		}
		color: #FFFFFF;
		h2 {
			font-weight: bold;
			font-size: 36px;
			@media only screen and (max-width : 460px) {
				align-self: flex-start;
			}
			
		}
		.center-line {
			font-size: 14px;
			position: relative;
			&:before {
				position: absolute;
				content: "";
				left: 50%;
				top: -27px;
				width: 64px;
				height: 2px;
				background-color: #41D395;
				margin-left: -32px;
				@media only screen and (max-width : 460px) {
					left: 0px;
					margin-left: 0px;
				}
			}
		}
		.price-main {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			width: 100%;
			@media only screen and (max-width: 966px) {
				flex-direction: column;
				align-items: center;
			}
			.small-container {
				margin-top: 83px;
				text-align: center;
				width: 343px;
				border-radius: 5px;
				overflow: hidden;
				&:nth-child(2) {
					margin-right: 40px;
					margin-left: 40px;
					@media only screen and (max-width: 966px) {
						margin-right: 0px;
						margin-left: 0px;
				}
				}
				
				h3 {
					padding-top: 14px;
					padding-bottom: 14px;
					margin: 0px;
					font-size: 20px;
					background-color: #333333;
					font-weight: normal;
				}
				.price {
					background-color: #333333;
					margin: 0px;
					font-size: 34px;
					span {
						font-size: 90px;
					}
				}
				.price-title {
					background-color: #333333;
					margin: 0px;
					padding-bottom: 18px;
					font-size: 14px;
				}
				.price-coment {
					background-color: #41D395;
					margin: 0px;
					min-height: 6px;
					p {
						padding: 11px;
						margin: 0px;
					}
				}
				.product {
					font-size: 14px;
					color: #86878B;
					background-color: #ffffff;
					margin: 0px;
					padding: 11px;
				}
			}
		}
	}
}

.reviews-background {
	background-color: #ffffff;
	.reviews-container {
		padding-top: 90px;
		padding-bottom: 90px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px auto;
		max-width: 1100px;
		@media only screen and (max-width : 1152px) {
			margin: 0px 26px;
		}
		color: #1C1C1C;
		h2 {
			font-weight: bold;
			font-size: 36px;
			margin-bottom: 91px;
			position: relative;
		}
		.swiper-container {
			width: 100%;
			height: 100%;
			position: relative;
			overflow: visible;
			&:before {
				position: absolute;
				content: "";
				left: 50%;
				top: -58px;
				width: 64px;
				height: 2px;
				background-color: #6696E2;
				margin-left: -32px;
			}
			.swiper-wrapper {
				display: flex;
				align-items: flex-end;
				margin-bottom: 86px;
				.swiper-slide {
					.comment {
						background-color: #6696E2;
						border-radius: 8px;
						padding: 20px;
						max-width: 273px;
						position: relative;
						&:after {
							content: "";
							position: absolute;
							width: 15px;
							height: 15px;
							background-color: #6696E2;
							transform: rotate(45deg);
							bottom: -7px;
							left: 27px;
						}
						p {
							color: #ffffff;
							font-size: 16px;
							margin: 0px;
						}
					}
					.custumer {
						max-width: 273px;
						margin-top: 19px;
						display: flex;
						.custumer-image {
							width: 70px;
							height: 70px;
							margin-right: 14px;
							background-image: url("../image/avatar_2_u231.png");
							background-repeat: no-repeat;
							background-position: center;
						}
						.custumer-name {
							display: flex;
							flex-direction: column;
							justify-content: center;
							h3 {
								font-weight: normal;
								font-size: 20px;
								color: #333333;
								margin: 0px;
								margin-bottom: 4px;
							}
							p {
								font-size: 14px;
								color: #86878B;
								margin: 0px;
							}
						}
					}
				}
			}
			.swiper-pagination {
				position: static;
				.swiper-pagination-bullet {
					width: 10px;
					height: 10px;
					border: 1px solid #E27866;
					background: #ffffff;
					margin-left: 10px;
					margin-right: 10px;
				}
				.swiper-pagination-bullet-active {
					background: #E27866;
				}
			}
		}
		
		
	}
}

.contact-background {
	background-color: #E27866;
	.contact-container {
		padding-top: 90px;
		padding-bottom: 90px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0px auto;
		max-width: 1100px;
		@media only screen and (max-width : 1152px) {
			margin: 0px 26px;
		}
		color: #FFFFFF;
		h2 {
			font-weight: bold;
			font-size: 36px;
			margin-bottom: 50px;
			@media only screen and (max-width : 460px) {
				align-self: flex-start;
			}
		}
		p {
			font-size: 14px;
		}
		.contact-form {
				background-color: white;
				border-radius: 5px;
				color: #000000;
				overflow: hidden;
				max-width: 390px;
				min-width: 300px;
				margin-top: 27px;
				padding-bottom: 32px;
				form {
					margin: 32px 65px;
					input[type="text"], input[type="tel"] {
						border: none;
						border-bottom: 1px solid #d8d8d8;
						width: 100%;
						outline: none;
						padding-left: 9px;
						&::placeholder {
							color: #D8D8D8;
							font-size: 12px;
						}
					}
					input:not(:last-of-type) {margin-bottom: 34px;}
					input:last-of-type {margin-bottom: 25px;}
					.customRadio {
						position: relative;
						cursor: pointer;
						font-size: 9px;
						display: inline-block;
						height: 13px;
						line-height: 13px;
						input {
							position: absolute;
							opacity: 0;
							cursor: pointer;
							margin: 0px;
							&:checked ~ .checkmark:after {
								display: block;
							}
							&:checked ~ .text {
								font-weight: bold;
							}
						}
						.text {
							display: inline-block;
							padding-left: 22px;
						}
						.checkmark {
							position: absolute;
							top: 0px;
							left: 0px;
							height: 11px;
							width: 11px;
							border: 1px solid #41d395;
							border-radius: 50%;
							&:after {
								content: "";
								position: absolute;
								display: none;
								top: 3px;
								left: 3px;
								width: 5px;
								height: 5px;
								border-radius: 50%;
								background: #41d395;
							}
						}
					}
					.customRadio:not(:last-child) {
						padding-right: 22px;
					}
				}
				.button {
					background-color: #41d395;
					color: #ffffff;
					text-align: center;
					font-size: 15px;
					margin: 0px auto;
					width: 158px;
					padding: 15px 0px;
					font-weight: bold;
					cursor: pointer;
					border-radius: 5px;
				}
			}
		
		
	}
}

	.social {
		height: 71px;
		display: flex;
		align-items: center;
		@media only screen and (max-width: 780px) {
			height: auto;
			margin-top: 18px;
		}
		a {
		padding-right: 118px;
		@media only screen and (max-width : 1152px) {
			padding-right: 60px;
		}
		@media only screen and (max-width : 780px) {
			padding-right: 20px;
		}
			&:last-child {
			padding-right: 0px;
			}
			img {
				height: 20px;
			}
		}
	}
	footer .container {
		@media only screen and (max-width: 690px) {
				flex-direction: column;
			}
		p {
			color: #ffffff;
			opacity: 0.5;
			font-size: 18px;
		}
	}

.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px auto;
		max-width: 1100px;
		color: #ffffff;
		@media only screen and (max-width : 1152px) {
			margin: 0px 26px;
		}
}



